---
import Layout from "../layouts/Layout.astro";
---

<Layout title="home" description="your description here">
	<h>Some header</h>
	<h2>Some smaller header</h2>
	<p>This is a paragraph</p>
</Layout>
